body
{   
    background-color: lightblue;
    margin: 10px;
    height : 702px;
}

#download
{
  color:black;
  margin:29.83px;
  height:44px;
}
#image_input
{
  height:44px;
  margin:29.83px;
}

.sbtn
{
  margin:29.83px;
  width:56px;
  height:44px;
}
.div_class
{ 
  height:20%;
  width:inherit;
  display:inline-flex;
  justify-content: space-evenly;
  align-content: center ;
}

#right
{ 
  height:700px;
  display:flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  
}

#canvas
{   
    background-color: white;
    float: left;
    position: relative;
    z-index : 0;
}

button
{
    background-color: #2980B9;
}

.slidecontainer {
  width: 500px; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 400px; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 96px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a{
  background-color: #f1f1f1;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border:none;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}